﻿<h3><i>Add a new policy</i></h3>
<div class="">
    <form [formGroup]="policyForm" (ngSubmit)="onSubmit()" novalidate>

        <ui-input name="policyNumber" [form]="policyForm" label="Policy Number*"></ui-input>
        <div class="row">
            <div class="col-md-6">
                    <ui-datepicker name="effectiveDate" [form]="policyForm" 
                    label="Effective Date"></ui-datepicker>
            </div>
            <div class="col-md-6">
                    <ui-datepicker name="expirationDate" [form]="policyForm" 
                    label="Expiration Date"></ui-datepicker>
            </div>
        </div>
        <div class="card-deck mb-3">
        <!-- Primary Insured -->
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title mb-3">Primary Insured</h5>
                <ui-input name="primaryInsuredName" [form]="policyForm" label="Name*"></ui-input>                
                <div *ngIf="policyForm.get('primaryAddress') as form">
                    <ui-input [form]="form" name="street" label="Mailing Address" ></ui-input>
                    <ui-input [form]="form" name="city" label="City"></ui-input>
                    <ui-input [form]="form" name="state" label="State"></ui-input>
                    <ui-input [form]="form" name="zipCode" label="Zip Code"></ui-input>
                </div>
            </div>
        </div>

        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title mb-3">Risk Construction*</h5>
                <div class="form-group">
                    <label class="center-block">
                        <select class="form-control" formControlName="riskConstruction">
                            <option *ngFor="let kv of riskContstructionValues$ | async" [value]="kv.key">{{kv.value}}</option>
                        </select>
                    </label>
                </div>            
                <ui-input [form]="policyForm" type="number" name="riskYearBuilt" label="Year Built"></ui-input>
                <div *ngIf="policyForm.get('riskAddress') as form">
                    <ui-input [form]="form" name="street" label="Risk Address" ></ui-input>
                    <ui-input [form]="form" name="city" label="City"></ui-input>
                    <ui-input [form]="form" name="state" label="State"></ui-input>
                    <ui-input [form]="form" name="zipCode" label="Zip Code"></ui-input>
                </div>
            </div>
        </div>
    </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>

        <button type="submit" [disabled]="policyForm.pristine || !policyForm.valid" class="btn btn-primary">Save</button>
        <button type="button" (click)="gotoList()" class="btn btn-warn">Cancel</button>
    </form>
</div>