﻿<!--<button (click)="addPolicy()" class="btn btn-primary">Add Policy</button>-->
<div class="">
    <a routerLink="/policies/create" class="btn btn-link">Add Policy</a>
    <div clas="table-responsive">
        <table class="table table-fluid table-striped">
            <thead>
                <tr>
                    <th>Policy Number</th>
                    <th>Insured Name</th>
                    <th>Effective Date</th>
                    <th>Expiration Date</th>
                </tr>
            </thead>
            <tbody>                
                <tr *ngIf="(isLoading$ | async)">
                    <td colspan="4">Loading...</td>
                </tr>
                <tr *ngIf="!(isLoading$ | async) && (policies$ | async)?.length==0">
                    <td colspan="4">No policies available</td>
                </tr>
                <tr *ngFor="let p of policies$ | async">
                    <td>{{p.policyNumber}}</td>
                    <td>{{p.primaryInsuredName}}</td>
                    <td>{{p.effectiveDate | date:'shortDate'}}</td>
                    <td>{{p.expirationDate | date:'shortDate'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>