<div class="form-group" [ngClass]="{'has-danger': hasErrors()}">
  <label *ngIf="label" [attr.for]="id">{{label}}</label>
  <input [attr.type]="type"
    [attr.id]="id"
    [attr.name]="name"
    class="form-control" 
    [ngClass]="{'is-invalid': hasErrors()}" 
    [placeholder]="placeholder" 
    [formControl]="control">
  <div *ngIf="hasErrors()" class="invalid-feedback">{{errorMessage}}</div>
</div>