﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insurance Policies</title>
    <base href="/" />
    <link rel="shortcut icon" href="~/dist/favicon.ico" />
</head>
<body>
    @RenderBody()
</body>
</html>