<div class="card">
  <h4 class="card-header">404 Not Found</h4>
  <div class="card-body">
    <p class="card-text">The page you requested was not found.</p>
    <a class="btn btn-primary" routerLink="/">Homepage</a>
  </div>
</div>