<div class="form-group" [ngClass]="{'has-danger': hasErrors()}">
    <label *ngIf="label" [attr.for]="id">{{label}}</label>
    <input 
        type="text" 
        class="form-control"
        mwlFlatpickr
        [allowInput]="true"
        dateFormat="M j, Y"
        [convertModelValue]="true"
        [formControl]="control">
    <div *ngIf="hasErrors()" class="invalid-feedback">{{errorMessage}}</div>
</div>