<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Policies</a>
      </li>
    </ul>
  </nav>
  <h4 class="text-muted">Policy Viewer</h4>
</div>

